body {
    background-color:#DDE6ED;
    color:#351f18;
    font-family: 'Bacasime Antique', serif;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1{
    color:#27374D;
}

h2{
    color:#526D82;
}

h3{
    color: #526D82;
}

.imagen1{
    width: 500px;
}

img{
    width: 550px;
}